{% extends 'base_notes.html' %}
{% load my_tags %}


{% block content %}

<h2>Notes matching {{ term }}</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
</form>

<ul>
    {% if term %} 
        {% if section %} 
        <p>Notes matching {{ term }} in section {{ section }} </p>
        {% elif not section %}
        <p>Notes matching {{ term }}</p>
        {% endif %}
    {% endif %}

    {% for section, text in result %}
        <li>{{ text }}</li>
        <em>Filed under section</em> {{ section|linkable_section|safe }}
    {% endfor %}
</ul>

{% endblock %}