body {
    background-color: #e7e7e4; 
    color: #000000; 
}

.leader {
    border: none;
    border-top: 2px solid blue;
    margin: 20px 0;
}

.dashed-line {
    border: none;
    border-top: 2px dashed purple; /* Color of the dashed line */
    margin: 10px 0; /* Adjust margin as needed */
}

.left-margin {
    margin-left: 30px; /* Adjust the value as needed */
}