{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
    <!-- DON'T forget setting - STATIC_URL, STATICFILES_DIRS and INSTALLED_APPS -->

</head>
<body>

<header>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/notes">My Course Notes</a>
        </li>
        <li>    
            <a href="/todo/1">My ToDo List</a>
        </li>
        {% if user.is_authenticated %}
        <li>    
            <p>Logged in as {{user.username}}. <a href="/user/logout">Log out</a></p>
        </li>
        {% else %}
        <li>    
            <a href="/user/login">Login</a>
        </li>
        <li>    
            <a href="/user/register">Sign Up</a>
        </li>
        {% endif %}
    </ul>
    <hr class="leader">
</header>

<main>
    <h1>My Notes</h1>

    {% block content %}

    {% endblock %}
</main>

<footer>
    <hr class="dashed-line">
    <p class="left-margin">© to me! I am not using any cookies ... yet!</p>
</footer>

</body>
</html>